.adminRight{
    padding-top: 50px;
    margin: 0px auto;
    margin: 34px auto;
    padding-bottom: 50px;
    border: 1px solid #ccc;
}
.row .formAdmin{
    margin-top: 50px;
}
.formText{
    height: auto;
}