.selectBox{
    width: 442px;
    height: 41px;
    cursor: pointer;
}
.box{
    border:1px solid #ccc;
    padding: 3%;
    margin-top: 30px;
}
.btnAdd{
    float: right;
}
.row .formAdmin{
    height:65px;
}