.formText-one{
height: 80px;
overflow: auto;
max-height: 300px;
margin-bottom: 20px;

}
textarea.formText-one{
height: 140px;
overflow: auto;
max-height: 300px;
width: 880px;
max-width: 100%;
margin-bottom: 20px;
}
textarea.formText-two{
height: 140px;
overflow: auto;
max-height: 300px;
width: 880px;
max-width: 100%;
margin-bottom: 20px;

}
textarea .formText-three{
 display:inline-block;
    border: solid 1px #000;
    min-height: 200px;
    width: 300px;
    overflow: auto;
    margin-bottom: 20px;

}
.quesExplain{
display: inline-block;
    border: solid 1px #000;
    min-height: 300px;
    width: 800px;
    overflow: auto;
    padding: 18px;
    border: ridge 2px;
    max-height: 400px;
    word-wrap:break-word;
    text-overflow: ellipsis;   
}
.hintBox{
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 20px;
}
.boxTheroy{
    border: 1px solid #ccc;
    /* padding: 3%; */
    padding: 12px;
    margin-bottom: 6px;
}