.formText-one{
height: 140px;
overflow: auto;
max-height: 300px;
}
textarea.formText-one{
height: 140px;
overflow: auto;
max-height: 300px;
width: 880px;
max-width: 100%;
}
textarea.formText-two{
height: 140px;
overflow: auto;
max-height: 300px;
width: 880px;
max-width: 100%;
}
textarea .formText-three{
 display:inline-block;
    border: solid 1px #000;
    min-height: 200px;
    width: 300px;
    overflow: auto;
}
.quesExplain{
display: inline-block;
    border: solid 1px #000;
    min-height: 300px;
    width: 800px;
    overflow: auto;
    padding: 18px;
    border: ridge 2px;
    max-height: 400px;
    word-wrap:break-word;
    text-overflow: ellipsis;   
}